<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
        default-lazy-init="true">

    <mvc:annotation-driven/>

    <context:component-scan base-package="com.service"/>
    <context:component-scan base-package="com.dao"/>

    <aop:aspectj-autoproxy/>

    <!--log4j to be configured-->

    <!--datasource-->
    <bean id="datasource"
          class="org.apache.commons.dbcp2.BasicDataSource"><!--org.springframework.jdbc.datasource.DriverManagerDataSource-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/ssh"></property>
        <property name="username" value="yjy"></property>
        <property name="password" value="111111"></property>

        <!--org.apache.commons.dbcp2.BasicDataSource专有属性-->
        <property name="initialSize" value="2"/>
        <property name="maxTotal" value="5"/>
    </bean>

    <!--session-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

        <property name="dataSource" ref="datasource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">update</prop>-->
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>com/bean/User.hbm.xml</value>
                <value>com/bean/Journal.hbm.xml</value>
                <value>com/bean/Article.hbm.xml</value>
                <value>com/bean/Chapter.hbm.xml</value>
                <value>com/bean/Paragraph.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--transaction-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>